



/*ОБЩИЙ БЛОК*/
.container {

    position: absolute;
    width: 270px;
    height: 270px;
    margin-top: 200px;
    margin-left: 550px;
    background-color:white;
    border:2px solid #DDDDDD;
}
/*ЗАГОЛОВОК*/
.header {

    
    width: 270px;
    height: 32px;
    background-color:aqua;
    border-top:2px solid #DDDDDD;
    border-bottom:2px solid #DDDDDD;
}
/*ЛОГО ЗАГОЛОВКА*/
.header-logo__logo {
    position:absolute;
    width: 20.93px;
    height: 15.93px;
    margin-top: 7px;
    margin-left:5px ;
    
}
.nav{
display: flex;
justify-content:flex-end;
margin-top:7px;



}
.nav__cont {
    background-color:#868686 ;
    list-style-type: none;
    width:14px;
    height:5px;
    margin:7px;
}
.horisont {
    margin-top: 0%;
}
.banner {
    display:flex;
    width: 229.5px;
    height: 147.12px;
     73,5px;
    }/*не могу понять отступы*/
    .banner__title{
        width: 88px;
        height: 8px;
        background: #868686;
         }
         .banner__text{
             width: 75px ;
             height: 15px ;
             
         }
         .banner__password{
            width: 75px ;
            height: 15px ;
         }
         .banner__button{
             width: 88px;;
             height: 20px ;
             border-radius: 10px;
             background: #3ec6ff;
         }
    .banner__foto{
        width:118,25px ;
        height:147,12px ;
    }